/saves
/crash-reports
/logs
/journeymap
/CustomSkinLoader
/resourcepacks
/screenshots
/shaderpacks
/.mixin.out
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
crafttweaker.log
launcher_profiles.json
PCL.ini
